// Define our colors
$keynote-bg: rgba( #7a181f, 0.08 );
$food-bg: rgba( #409b40, 0.06 );
$auditorium-bg: rgba( #c6dbf1, 0.3 );
$break-bg: rgba( #000, 0.01 );
$schedule-border-color: rgba( #000, 0.1 );
$social-color: #1159bd;

$video-color: #2e3192;
$in-progress-color: #15552b;

$wpc-royal-blue: #1159bd;

$schedule-table-col-breakpoint: 1000px;
