//
// These are the styles for when
// we display the conference schedule.
//

@import "settings";
@import "mixins";

.clear {
	clear: both;
}

@include include-schedule-links();

// Set schedule variables
$conf-sch-time-width: 12%;
$conf-sch-events-width: 88%;
.conf-sch-container {
	clear: both;
	box-sizing: border-box;

	* {
		box-sizing: border-box;
	}

	.conf-sch-area {
		opacity: 1;
		@include set-transition( opacity 1s ease );

		> *:first-child {
			margin-top: 0;
		}
	}

	.conf-sch-error {
		display: none;
		font-style: italic;
		color: #900;

		> * {

			&:first-child {
				margin-top: 0;
			}

			&:last-child {
				margin-bottom: 0;
			}
		}
	}

	.conf-sch-tz-message {
		background: $wpc-light-blue;
		font-style: italic;
		padding: 0.5em 1em;
		border-radius: 5px;

		.conf-sch-tz-label {
			display: block;
		}

		.conf-sch-tz-filter {
			display: block;
			width: 100%;
			border: 0;
			padding: 1em;
			margin: 0.3em 0 0.5em;
		}

		@media screen and (min-width: 600px) {
			display: flex;
			align-items: center;
			margin: 0 5px;

			.conf-sch-tz-label {
				padding: 0 0.7em 0 0;
			}

			.conf-sch-tz-filter {
				margin: 0;
				flex: 1;
			}
		}
	}

	.conference-schedule-watch-list {
		border: 1px solid #eee;
		margin: 0 0 2rem 0;

		.conf-sch-watch-message {
			padding: 25px;
			margin: 0;
		}

		.conf-sch-watch-list-session {
			padding: 25px;
			border-top: 1px solid #eee;
			line-height: 1.65;

			.event-title {
				text-transform: none;
				margin-bottom: 3px;
			}

			.event-dt {
				font-size: 90%;
			}

			.event-speakers {
				font-size: 1.4rem;
				line-height: 1.4;
				margin-bottom: 5px;

				.event-speaker {}
			}

			.event-categories {
				font-style: italic;
			}

			&:first-child {
				border-top: 0;
			}
		}
	}

	.conference-schedule {

		.schedule-event {
			padding: 20px;

			.event-title {
				font-size: 1.2em;
				line-height: 1.4;
				font-weight: bold;
				text-transform: none;
				margin: 0;
			}

			.event-excerpt,
			.event-format,
			.event-location,
			.event-address {
				display: block;
				margin: 5px 0 0 0;
				font-size: 0.95em;
				line-height: 1.3;
				opacity: 0.8;

				a {
					color: inherit;
				}
			}

			.event-excerpt {
				background: rgba($wpc-royal-blue,0.05);
				padding: 10px;
				margin-top: 15px;

				*:first-child {
					margin-top: 0;
				}

				*:last-child {
					margin-bottom: 0;
				}
			}

			.event-format {
				font-style: italic;
			}

			.event-subjects {
				font-style: italic;
				line-height: 1.6rem;
				margin: 4px 0;
			}

			.event-speakers {
				font-size: 1.1em;
				font-weight: bold;
				line-height: 1.4;
				color: #222;
				margin: 3px 0 0 0;
			}

			.conf-sch-event-buttons {
				margin-top: 15px;

				li {
					display: block;
					margin: 5px 0 0 0;
				}
			}

			> * {
				&:first-child {
					margin-top: 0;
				}
				&:last-child {
					margin-bottom: 0;
				}
			}

			// If it's a parent
			&.event-parent {

				.event-children {
					border-top: 1px solid $schedule-border-color;
					margin: 25px -20px -20px -20px;

					.schedule-event {

						.event-time {
							font-size: 0.9em;
							line-height: 1.7;
						}
					}

					&.has-same-time {
						.event-time {
							display: none !important;
						}
					}

					&.has-same-location {
						.event-location {
							display: none !important;
						}
					}
				}
			}

			// Only tweak for small screens.
			@media screen and (max-width: $schedule-table-col-breakpoint - 1) {

				& + .schedule-event {
					border-top: 1px solid $schedule-border-color;
				}

				&.event-parent {

					.event-children {

						.schedule-event {

							& + .schedule-event {
								border-top: 0;
								padding-top: 0;
							}
						}
					}
				}
			}

			// When gets broken into columns.
			@media screen and (min-width: $schedule-table-col-breakpoint) {

				&.event-parent {

					.event-children {
						display: flex;
					}
				}
			}
		}

		.schedule-table {
			margin: 1.2rem 0 1.5rem 0;

			.schedule-row {
				border: 2px solid $schedule-border-color;
				border-top: 8px solid $schedule-border-color;
				margin: 0 0 25px 0;

				.schedule-row-item {

					&.time {
						display: none;
					}
				}

				&.status-in-progress {
					background: rgba( $in-progress-color, 0.05 );
					border-top: 8px solid rgba( $in-progress-color, 0.3 );
					border-bottom: 8px solid rgba( $in-progress-color, 0.3 );

					.schedule-row-item.time {
						.time-start {
							background: rgba( $in-progress-color, 0.1 );
						}
					}
					.event-excerpt {
						background: rgba(21,85,43,.1);
					}
				}
			}

			@media screen and (min-width: $schedule-table-col-breakpoint) {
				border-bottom: 1px solid $schedule-border-color;

				.schedule-row {
					display: flex;
					border: 0;
					border-top: 1px solid $schedule-border-color;
					margin: 0;

					.event-time {
						display: none;
					}

					.schedule-row-item {

						&.time {
							display: block;
							width: $conf-sch-time-width;
							font-size: 0.8em;
							line-height: 1.7;
							padding: 0 0 42px; // For the time end positioning
							opacity: 0.9;
							position: relative;

							.time-full {
								display: none;
							}

							.time-start,
							.time-end {
								display: block;
								padding: 10px 0 10px 10px;
							}

							.time-start {
								background: rgba(100,100,100,0.05);
								border-bottom: 1px solid $schedule-border-color;
								font-weight: bold;
								padding-top: 23px;
							}

							.time-end {
								opacity: .7;
								font-style: italic;
								position: absolute;
								left: 0;
								bottom: 0;
								width: 100%;
							}
						}

						&.events {
							display: flex;
							width: $conf-sch-events-width;
							border-left: 1px solid $schedule-border-color;

							.schedule-event {
								width: 100%;
								position: relative;
								border-left: 1px solid $schedule-border-color;

								// @TODO: check links
								&.has-event-links {
									.event-links {
										position: absolute;
										left: 0;
										bottom: 10px;
										width: 100%;
										padding: 0 20px;
									}
								}

								$event-link-padding-base: 80px;
								$event-link-padding-inc: 45px;
								@for $i from 1 through 20 {
									&.has-event-links-#{$i} {
										@if $i > 1 {
											padding-bottom: $event-link-padding-base + ($event-link-padding-inc * ($i - 1));
										} @else {
											padding-bottom: $event-link-padding-base;
										}
									}
								}

								&:only-child {
									align-self: center;
								}

								// Two and four items
								&:first-child:nth-last-child(2),
								&:first-child:nth-last-child(2) ~ .schedule-event {
									width: 50%;
								}

								// Three items
								&:first-child:nth-last-child(3),
								&:first-child:nth-last-child(3) ~ .schedule-event {
									width: 33.3333%;
								}

								// Four items
								&:first-child:nth-last-child(4),
								&:first-child:nth-last-child(4) ~ .schedule-event {
									width: 25%;
								}

								&:first-child {
									border-left: 0;
								}
							}
						}
					}
				}
			}
		}

		.schedule-by-day {

			&.schedule-in-past {

				&.schedule-show {

					.status-past {
						opacity: 1;
					}
				}

				&:not(.schedule-show) {

					.schedule-row.status-past:not(.status-in-progress) {
						//display: none;
					}
				}
			}

			&.schedule-in-progress {

				.status-past {
					opacity: 0.5;
				}
			}

			& + .schedule-by-day {
				margin-top: -5px;
			}
		}
	}

	.schedule-nav-buttons {

		button,
		.button {
			@include is-button();

			&.highlight {
				background-color: $wpc-royal-blue;
				color: #fff;

				&.schedule-video  {
					background-color: $video-color;
				}

				&.schedule-go-current {
					background-color: $in-progress-color;
				}
			}

			& + button,
			& + .button {
				margin-top: -0.7rem;
			}
		}

		@media screen and (min-width: 600px) {
			display: flex;
			flex-wrap: wrap;

			button,
			.button {
				margin: 5px !important;
			}

			&.nav-top {
				border-bottom: 1px solid $schedule-border-color;
				padding-bottom: 1.3rem;
				margin-top: 5px;
			}

			&.nav-bottom {

				button,
				.button {
					width: 48%;
					flex: auto;
					margin: 5px 1%;
				}
			}

			&.has-highlight {

				button,
				.button {
					flex: 1;

					&.highlight {
						width: 100%;
						flex: auto;
					}
				}
			}
		}

		@media screen and (min-width: $schedule-table-col-breakpoint) {

			&.nav-top {

				button,
				.button {
					flex: 1 !important;
					width: auto !important;
				}
			}

			&.nav-bottom {

				button,
				.button {
					width: auto !important;

					&:first-child {
						margin-left: 0 !important;
					}

					&:last-child {
						margin-right: 0 !important;
					}
				}
			}
		}
	}

	$side-buttons-width: 60px;
	$side-buttons-height: 60px;
	.schedule-side-buttons {
		position: fixed;
		right: 0;
		top: 70px;
		width: $side-buttons-width;
		pointer-events: none;
		z-index: 1000;
		opacity: 0;
		@include set-transition(opacity 1s ease);

		button,
		.button {
			@include is-button();
			width: $side-buttons-width;
			height: $side-buttons-height;
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
			margin: 10px 0;

			span {
				@include for-screen-reader();
			}

			&.schedule-refresh {
				background: url('../../images/refresh.svg') center center no-repeat rgba(0,0,0,0.1);
				background-size: 28px auto;
			}

			&.schedule-video {
				background: url('../../images/video.svg') center center no-repeat rgba(0,0,0,0.1);
				background-size: 32px auto;
			}

			&.schedule-go-current {
				background: url('../../images/clock.svg') center center no-repeat rgba(0,0,0,0.1);
				background-size: 32px auto;
			}

			&.schedule-go-top {
				background: url('../../images/arrow-up.svg') center center no-repeat rgba(0,0,0,0.1);
				background-size: 32px auto;
			}

			&.highlight {
				background-color: rgba($wpc-royal-blue, 0.1);

				&.schedule-video  {
					background-color: rgba($video-color, 0.1);
				}

				&.schedule-go-current {
					background-color: rgba($in-progress-color, 0.1);
				}
			}
		}
	}

	.conf-sch-pre,
	.conf-sch-post {

		@media screen and (min-width: 600px) {
			margin: 1.3rem 0;
		}
	}

	.conf-sch-loading {
		pointer-events: none;
		opacity: 0;
		@include set-transition( opacity 1s ease );
	}

	.conf-sch-header-sticky {
		display: block;
		background: #fff;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: auto;
		padding: 1em 0;
		opacity: 0;
		border-bottom: 2px solid $schedule-border-color;
		box-shadow: 0 0 20px -10px rgba(0,0,0,0.8);
		pointer-events: none;
		@include set-transition(opacity 0.8s ease);

		&:before {
			content: '';
			background: #fff;
			width: 200%;
			height: 100%;
			position: absolute;
			left: -50%;
			top: 0;
			z-index: -1;
		}

		.schedule-header {
			margin: 0;
		}

		@media screen and (min-width: $schedule-table-col-breakpoint) {
			border-bottom-width: 1px;
		}
	}

	&.active {

		.schedule-side-buttons {
			opacity: 1;
			pointer-events: auto;
		}

		.conf-sch-header-sticky.active {
			opacity: 1;
			pointer-events: auto;
		}
	}

	&.loading {
		min-height: $loading-min-height;
		position: relative;
		pointer-events: none;

		.conf-sch-area,
		.schedule-side-buttons {
			opacity: $loading-opacity;
			pointer-events: none;
		}

		.conf-sch-loading {
			opacity: 1;
			min-height: $loading-min-height;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url('../../images/loading.gif') center center no-repeat;
			z-index: 1000;
		}
	}

	&.error {

		.conf-sch-error {
			display: block;
		}

		.conference-schedule {
			background: rgba(#900,0.05);
			padding: 20px;
		}
	}
}

.conf-schedule-speakers {
	clear: both;
	@include include-schedule-speaker();

	.conf-schedule-speaker {

		.speaker-headshot {
			margin-top: 15px;
		}

		.speaker-name {
			margin: 0 0 10px 0;
		}

		.conf-sch-event-buttons {

			li {
				display: inline-block;
				margin: 0 10px 10px 0;
			}
		}
	}
}
