//
// These are the styles for when
// we display the conference schedule.
//

// Include our settings.
@import "settings";

// Include our mixins.
@import "mixins";

.clear {
	clear: both;
}

@include include-schedule-links();

#conf-sch-single-livestream {
	margin: 1.5rem 0;
	
	.underline {
		text-decoration: underline;
	}

	a {
		display: block;
		background-color: #662d91;
		color: #fff !important;
		padding: 15px 20px;
		text-align: center;
		border-radius: 5px;
		text-decoration: none;
		@include set-transition( background-color 1s ease );

		&:focus,
		&:hover {
			background-color: darken( #662d91, 10% );
		}
	}
}

#conf-sch-single-content {
	
	.conf-schedule-single-loading,
    .conf-schedule-single-error {
	    font-style: italic;
    }

	.conf-schedule-single-error {
		color: #900;
	}

	@media screen and (min-width: 620px) {

		.callout {

			&.with-meta {
				margin-right: 370px;
			}

			&:first-child {
				margin-top: 45px;
			}
		}
	}
}

// Customize the single schedule pages
#conf-sch-single-meta {
	display: none;
	background: #fff;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	margin: 15px 0 30px 0;
	padding: 20px;
	font-size: 1em;
	line-height: 1.6em;

	.event-meta {
		display: block;
		margin: 0 0 5px 0;

		&.event-subjects .event-meta-value {
			font-style: italic;
		}
	}

	.event-meta-label {
		font-weight: bold;
	}

	.conf-sch-event-buttons {
		margin: 12px 0 0 0 !important;
	}
}

// Move meta to the right when screen gets larger
@media screen and (min-width: 620px) {

	#conf-sch-single-meta {
		float: right;
		margin-left: 30px;
		min-width: 300px;
		max-width: 350px;
	}
}

// Customize the video on the single schedule pages
$session-video-height: 450px;
#conf-sch-single-video {
	display: none;
	width: 100%;
	margin: 0 0 20px 0;

	iframe {
		width: 100%;
		height: $session-video-height;
	}
}

#conf-sch-single-speakers {
	display: none;

	@include include-schedule-speaker();

	&.conf-schedule-speakers {

		.conf-schedule-speaker {

			.speaker-headshot {
				margin-top: 15px;
			}

			.speaker-name {
				margin: 0 0 10px 0;
			}
		}
	}
}

// Set schedule variables
$conf-sch-time-width: 15%;
$conf-sch-events-width: 85%;
#conference-schedule-container {
	box-sizing: border-box;

	* {
		box-sizing: border-box;
	}

	// Is displayed when done loading
	& > * {
		display: none;
	}

	.schedule-by-day {
		margin-top: 30px;
	}
	
	.schedule-nav-button {
		@include is-button();
			
		& + .schedule-nav-button {
			margin-top: -0.7rem;
		}
	}
	
	.schedule-nav-buttons {
		
		@media screen and (min-width: 600px) {
			display: flex;
			flex-wrap: wrap;
			margin: 1.3rem 0;
			
			.schedule-nav-button {
				margin: 5px !important;
			}
			
			&.nav-bottom {
				
				.schedule-nav-button {
					width: 48%;
					flex: auto;
					margin: 5px 1%;
				}
			}
			
			&.has-highlight {
			
				.schedule-nav-button {
					flex: 1;
					
					&.highlight {
						width: 100%;
						flex: auto;
					}
				}	
			}
		}

		@media screen and (min-width: $schedule-table-col-breakpoint) {
			
			&.nav-top {

				.schedule-nav-button {
					flex: 1 !important;
					width: auto !important;
				}
			}
			
			&.nav-bottom {

				.schedule-nav-button {
					width: auto !important;
					
					&:first-child {
						margin-left: 0 !important;
					}
					
					&:last-child {
						margin-right: 0 !important;
					}
				}
			}
		}
	}

	.schedule-table {
		margin: 20px 0 30px 0;

		.schedule-header-row {
			display: none;
		}

		.schedule-row {
			clear: both;
			overflow: auto;
			padding: 0 0 25px 0;

			&:last-child {
				border-bottom: 1px solid $schedule-border-color;
			}

			.schedule-event {
				overflow: visible;
				margin: 0 0 25px 0;

				.event-time {
					display: block;
				}

				.event-title {
					font-weight: bold;
					margin: 0;
					font-size: 1.2em;
					line-height: 1.4;
					text-transform: none;
				}

				.event-location,
				.event-address {
					display: block;
					margin: 5px 0 0 0;
					font-size: 0.95em;
					line-height: 1.3;
					opacity: 0.8;

					a {
						color: inherit;
					}
				}

				.event-subjects {
					font-style: italic;
					margin: 4px 0;
					line-height: 1.6rem;
				}

				.event-speakers {
					font-size: 1.1em;
					line-height: 1.4;
					color: #222;
					font-weight: bold;
					margin: 3px 0 0 0;
				}

				.conf-sch-event-buttons {

					li {
						display: block;
						margin: 5px 0 0 0;
					}
				}

				.event-desc {

					/*.twitter-to-left {
						background-size: auto 20px;
						padding: 0 0 0 30px;
					}*/

					& > *:last-child {
						margin-bottom: 0;
					}
				}

				& > *:last-child {
					margin-bottom: 0;
				}

				// If it's a parent
				&.event-parent {

					.event-children {
						border-top: 1px solid $schedule-border-color;
						margin: 25px 0 0 0;

						.schedule-event {
							float: none !important;
							width: 100% !important;
							padding: 0 !important;
							margin: 25px 0 0 0 !important;

							.event-time {
								display: block !important;
								font-size: 0.9em;
								line-height: 1.7;
							}
						}
					}
				}
			}

			.schedule-row-item {
				display: block;
				clear: both;
				background: none;
				position: relative;
				border-top: 1px solid $schedule-border-color;
				padding: 0;

				.schedule-event {
					padding: 25px 0 0 0;
				}

				&.time {
					display: none;
				}

				&.events {

					.schedule-event:last-child {
						margin-bottom: 0;
					}
				}
			}

			&.status-in-progress {
				background: rgba( 0, 128, 0, 0.05 );
				
				// Only tweak for small screens.
				@media screen and (max-width: $schedule-table-col-breakpoint - 1) {
					padding-bottom: 20px;
				
					.schedule-row-item {
						padding-left: 10px;
						padding-right: 10px;
						
						.schedule-event {
							padding-top: 20px;
							margin-bottom: 5px;
						}
					}	
				}
			}

			//&.status-future {}
		}

		.schedule-row.current + .schedule-row {

			.schedule-row-item {
				border-top: 0;
			}
		}
	}
	
	.schedule-by-day {
		
		&.schedule-in-progress {
			
			.schedule-table {
				
				.schedule-row {
					
					&.status-past {
						opacity: 0.5;
					}
				}
			}
		}

	}

	&.loading {
		min-height: 200px;
		background: url( '../../images/loading.gif' ) center center no-repeat;
	}
}

/*.collapsible-schedule-block {
    display : block;
    clear: both;
    border-radius: 5px;
    padding: 0;
    margin: 0 -10px 30px -10px;
    overflow: hidden;

    .schedule-header {
        background: rgba( #000, 0.04 );
        margin: 0;
        padding: 10px;
        position: relative;
        z-index: 0;
        cursor: pointer;

        &:before {
            content: 'View';
            position: absolute;
            right: 15px;
            top: 50%;
            margin: -9px 0 0 0;
            font-size: 15px;
            line-height: 1.2;
            font-weight: normal;
            text-transform: uppercase;
            cursor: pointer;
            z-index: -1;
        }
    }

    .schedule-table {
        display: none;
    }

    &.open {

        .schedule-header {

            &:before {
                content: 'Close';
            }
        }

        .schedule-table {
            display: block;
            margin: 0;
            padding: 0;
        }
    }
}*/

// Tweak the schedule page
/*body.page-template-schedule {

    .schedule-main-buttons-wrapper {
        margin: -10px 0 30px 0;

        .btn {
            font-size: 20px;
            line-height: 1.7;
            text-decoration: none;
            margin: 0;
        }

        .btn.conference-eval {
            display: block;
            width: 100%;
        }

        .btn.go-to-current-event {
            display: none; // Hide by default
            background: $heweb-blue;
            width: 100%;
            border: 0;
            text-transform: uppercase;

			&:focus,
            &:hover {
                background: darken($heweb-blue, 8%);
            }
        }

        .btn.go-to-current-event + .schedule-header {
            margin-top: 0 !important;
        }

        &.has-go-to-event {

            .btn + .btn {
                margin-top: 10px;
            }
        }
    }
}*/

// Screens larger than 600px
@media screen and (min-width: 600px) {

	/*// Tweak the schedule page
	body.page-template-schedule {

		.schedule-main-buttons-wrapper {
			margin: -10px 0 15px 0;
			font-size: 16px;
			line-height: 1.7;
			overflow: auto;

			.btn {
				margin: 0 !important;

				&.go-to-current-event {
					width: auto;
					float: right;
					margin-left: 20px !important;
				}
			}

			&.has-go-to-event {

				.btn.conference-eval {
					width: auto;
					float: left;
				}
			}
		}
	}*/
}

// Screens larger than 1000px get broken into columns
@media screen and (min-width: $schedule-table-col-breakpoint) {

	#conference-schedule-container {

		.schedule-table {

			.schedule-header-row {
				display: block;
				clear: both;
				overflow: auto;
				background: #f6f6f6;
				padding: 10px 0;
				text-transform: uppercase;
				opacity: 0.8;
				font-size: 0.9em;
				line-height: 1.1;

				.schedule-header-item {
					display: block;
					clear: none;
					float: left;

					&.time {
						display: block;
						width: $conf-sch-time-width;
						padding: 0 10px;
					}

					&.events {
						width: $conf-sch-events-width;

						.schedule-header-event {
							padding: 0 10px;

							// Two and four items
							&:first-child:nth-last-child(2),
							&:first-child:nth-last-child(2) ~ .schedule-header-event,
							&:first-child:nth-last-child(4),
							&:first-child:nth-last-child(4) ~ .schedule-header-event {
								float: left;
								width: 50%;
							}

							// Three items
							&:first-child:nth-last-child(3),
							&:first-child:nth-last-child(3) ~ .schedule-header-event {
								float: left;
								width: 33.3333%;
							}

							&:first-child {
								padding-left: 0;
							}
						}
					}
				}
			}

			.schedule-row {

				&:last-child {
					border-bottom: 1px solid $schedule-border-color !important;
				}

				/*&.current {
					background: rgba( #f9ff00, 0.2 );

					&:before {
						display: none;
					}

				}*/

				.schedule-event {
					margin-bottom: 0;

					.event-time {
						display: none;
					}
				}

				.schedule-row-item {
					display: block;
					clear: none;
					float: left;
					border-top: 1px solid $schedule-border-color !important;

					&.time {
						display: block;
						width: $conf-sch-time-width;
						font-size: 0.8em;
						line-height: 1.7;
						padding: 25px 10px 10px 10px;
						margin: 0;
						opacity: 0.9;
					}

					&.events {
						display: flex;
						width: $conf-sch-events-width;
						position: relative;

						.schedule-event {
							padding-right: 10px;
							padding-left: 10px;
							min-height: 1px;

							// Two and four items
							&:first-child:nth-last-child(2),
							&:first-child:nth-last-child(2) ~ .schedule-event,
							&:first-child:nth-last-child(4),
							&:first-child:nth-last-child(4) ~ .schedule-event {
								float: left;
								width: 50%;
							}

							// Three items
							&:first-child:nth-last-child(3),
							&:first-child:nth-last-child(3) ~ .schedule-event {
								float: left;
								width: 33.3333%;
							}

							&:first-child {
								padding-left: 0;
							}
						}
					}
				}
			}
		}
	}
}
